* {
  box-sizing: border-box;
}

html[data-theme=dark] {
  --header-color: #ffffff;
  --main-color: #c8cbe7;
  --secondary-color: #5b5e7e;
  --select-color: #4d5067;
  --hover-color: #e3e4f1;
  --active-color: #3a7cfd;
  --bg-color: #171823;
  --bg-secondary-color: #25273d;
  --border-color: #393a4b;
}

html[data-theme=light] {
  --header-color: #ffffff;
  --main-color: #494c6b;
  --secondary-color: #9495a5;
  --select-color: #d1d2da;
  --hover-color: #494c6b;
  --active-color: #3a7cfd;
  --bg-color: #fafafa;
  --bg-secondary-color: #ffffff;
  --border-color: #e3e4f1;
  --container-shadow-color: rgba(194, 195, 214, 0.5019607843);
}

body {
  min-height: 100vh;
  background-image: url(/images/bg-mobile-dark.jpg);
  font-size: 1.125rem;
  background-repeat: no-repeat;
  background-size: 100% 25vh;
  background-color: var(--bg-color);
  margin: 0 1.5625rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.125rem;
  line-height: 18px;
  letter-spacing: -0.25;
}

main {
  max-width: 27.4375rem;
  margin: 0 auto;
}

p,
h1 {
  margin: 0;
}

.bar {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 2.5rem;
  color: var(--header-color);
  font-size: 1.75rem;
}
.bar img {
  align-self: center;
}
.bar h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 28px;
  font-weight: 700;
}

button {
  background-image: url(/images/icon-sun.svg);
}

.top-list {
  background-color: var(--bg-secondary-color);
  padding: 0.875rem 1.25rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.top-list_check {
  background-color: transparent;
  border-radius: 50%;
}

.top-list_add-item {
  background-color: transparent;
  border: none;
}

.middle-list {
  background-color: var(--bg-secondary-color);
  border-radius: 5px;
  color: var(--main-color);
  box-shadow: 0px 35px 50px -15px var(--container-shadow-color);
}

.middle-list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.875rem 1.25rem;
}
.middle-list_item:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.middle-list_item:last-child {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.17px;
}
.middle-list_item p {
  margin-left: 12px;
}
.middle-list_item img {
  align-self: center;
  width: 12px;
  height: 12px;
}

.middle-list_item_text {
  display: flex;
  align-items: center;
}

.hover:hover {
  color: var(--hover-color);
  transition: all 0.5s;
  cursor: pointer;
}

.bottom-list {
  display: flex;
  justify-content: center;
  background-color: var(--bg-secondary-color);
  color: var(--main-color);
  padding: 0.9375rem 5rem;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.19px;
}

.bottom-list_all,
.bottom-list_active {
  margin-right: 1.125rem;
}

.bottom-list_active:hover,
.bottom-list_completed:hover {
  color: var(--hover-color);
  transition: all 0.5s;
}
.bottom-list_active:hover:hover,
.bottom-list_active:hover .bottom-list_all:hover,
.bottom-list_completed:hover:hover,
.bottom-list_completed:hover .bottom-list_all:hover {
  cursor: pointer;
}

.note {
  display: grid;
  place-content: center;
  color: var(--secondary-color);
  margin-top: 3.375rem;
  margin-bottom: 3.125rem;
  font-size: 0.875rem;
  line-height: 14px;
  letter-spacing: -0.19px;
}

@media (min-width: 768px) {
  body {
    background-image: url(/images/bg-desktop-dark.jpg);
  }
  .bar {
    margin-top: 4.375rem;
    margin-bottom: 3rem;
  }
  .middle-list_item img {
    visibility: hidden;
  }
  .middle-list_item:last-child {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.19px;
  }
}

/*# sourceMappingURL=style.css.map */
